*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #dadada;
    overflow: hidden;
}

.nav{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #f5f5f5;
}

.left, .left-left, .left-right{
    display: flex;
}

.left{
    width: 50%;
    justify-content: space-between;
}

.right input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    outline: none;
    width: 200px;
}

.right i{
    margin-left: 10px;
}

.left-left{
    width: 50%;
}

.left-left p{
    font-size: 14px;
}

.left-left i{
    margin-right: 10px;
}

.left-right{
    width: 50%;
    justify-content: space-between;
}

.left-right a{
    text-decoration: none;
    color: #939185;
    font-size: 14px;
}

.left-right a:hover{
    color: #000000;
}


/* Dashboard */

.dash-header{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-right{
    display: flex;
    justify-content: space-between;
    width: 26%;
}

.date{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-around;
    margin: 0 10px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
}

.header-button button{
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #939185;
    color: #f5f5f5;
}

/*Small navbar */

.mini-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 2px;
    background-color: #f5f5f5;
    width: 400px;
    position: relative;
    left: 10px;
    border-radius: 5px;
}

.mini-nav a{
    text-decoration: none;
    color: #000000;
    padding: 0 5px;
}

/* Card styles */

.cards-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}

.card{
    background-color: #f5f5f5;
    width: 20%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.card-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-top i{
    color: #939185;
}

.card-bottom h3{
    margin-top: 5px;
}

.card-bottom p{
    margin-top: 10px;
    font-size: 12px;
}

/* Data styles */

.data{
    display: flex;
    margin: 20px 20px 10px 35px;
}

.chart{
    width: 50vw;
}

.recent{
    margin: 20px;
    width: 50vw;
    border: 1px solid #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

.recent-header p{
    margin-bottom: 10px;
}

.sale{
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    margin-bottom: 10px;
}

.price{
    display: flex;
    align-items: center;
    justify-content: end;
}