*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #dadada;
}

.nav{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #f5f5f5;
    position: sticky;
}

.left, .left-left, .left-right{
    display: flex;
}

.left{
    width: 85%;
    justify-content: space-between;
}

.left-left{
    width: 20%;
}

.left-left p{
    font-size: 14px;
}

.left-left i{
    margin-right: 10px;
}

.left-right{
    width: 60%;
    justify-content: space-around;
    margin: auto;
}

.left-right a:nth-child(1){
    color: #000000;
}

.left-right a{
    text-decoration: none;
    color: #939185;
    font-size: 14px;
}

.left-right a:hover{
    color: #000000;
}

/* Dashboard */

.dash-header{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-right{
    display: flex;
    justify-content: space-around;
    width: 26%;
}

.date{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-around;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
}

.date p{
    font-size: 14px;
}

.header-button button{
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.header-button button:hover{
    background-color: #000000;
    color: #f5f5f5;
}

/*Small navbar */

.mini-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 2px;
    background-color: #f5f5f5;
    width: 400px;
    position: relative;
    left: 10px;
    border-radius: 5px;
}

.mini-nav a{
    text-decoration: none;
    color: #939185;
    padding: 5px;
    font-size: 14px;
}

.mini-nav a:hover{
    color: #000000;
}

.mini-nav a.active{
    color: #000000;
    background-color: #dadada;
    border-radius: 3px;
}

/* Card styles */

.cards-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}

.card{
    background-color: #f5f5f5;
    width: 20%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{
    position: relative;
    bottom: 5px;
}

.card-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-top i{
    color: #939185;
}

.card-bottom h3{
    margin-top: 5px;
}

.card-bottom p{
    margin-top: 10px;
    font-size: 12px;
}

/* Data styles */

.data{
    display: flex;
    margin: 20px 20px 10px 35px;
}

.chart{
    width: 50vw;
}

.recent{
    margin: 20px;
    width: 50vw;
    border: 1px solid #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

.recent-header p{
    margin-bottom: 10px;
    font-size: 14px;
}

.sale{
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    margin-bottom: 10px;
}

.person p{
    font-size: 14px;
}

.email{
    color: #939185;
}

.price{
    display: flex;
    align-items: center;
    justify-content: end;
}
