{% extends 'main.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'scripts/home.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
{% endblock %}

{% block body %}
    <div class="nav-wrapper">
        <div class="nav">
            <div class="left">
                <div class="left-left">
                    <i class="fa-solid fa-user"></i>
                    <p>Alicia Koch</p>
                </div>
                <div class="left-right">
                    <a href="#" class="active">Overview</a>
                    <a href="#">Products</a>
                    <a href="#">Customers</a>
                    <a href="#">Settings</a>
                </div>
            </div>
            <div class="right">
                <input type="text" placeholder="Search...">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </div>

    <div class="dash-wrapper">
        <div class="dash">
            <div class="dash-header">
                <div class="header-left">
                    <h2>Dashboard</h2>
                </div>
                <div class="header-right">
                    <div class="date">
                        <i class="fa-solid fa-calendar-days"></i>
                        <p class="datep">Wednesday, 7 August 2024</p>
                    </div>
                    <div class="header-button">
                        <button>Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Small navbar-->
    <div class="mini-nav-wrapper">
        <div class="mini-nav">
            <a href="#" class="active">Overview</a>
            <a href="#">Analytics</a>
            <a href="#">Reports</a>
            <a href="#">Notifications</a>
        </div>
    </div>

    <!--Cards-->
    <div class="cards-wrapper">
        <div class="card">
            <div class="card-top">
                <h4>Total revenue</h4>
                <i class="fa-solid fa-dollar-sign"></i>
            </div>
            <div class="card-bottom">
                <h3>KES. 2,345,678.90</h3>
                <p>+20.1% increase from last month</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <h4>Subscriptions</h4>
                <i class="fa-solid fa-people-group"></i>
            </div>
            <div class="card-bottom">
                <h3>+2,350</h3>
                <p>+24% from last month</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <h4>Sales</h4>
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <div class="card-bottom">
                <h3>+12,234</h3>
                <p>+19% from last month</p>
            </div>
        </div>
        <div class="card">
            <div class="card-top">
                <h4>Active now</h4>
                <i class="fa-solid fa-arrow-trend-up"></i>
            </div>
            <div class="card-bottom">
                <h3>+573</h3>
                <p>+201 in the past hour</p>
            </div>
        </div>
    </div>

    <!--Charts-->
    <div class="data">
        <div class="chart">
            <canvas id="myChart"></canvas>
        </div>
        <div class="recent">
            <div class="recent-header">
                <h3>Recent sales</h3>
                <p>You made 256 sales this month</p>
            </div>
            <div class="recent-body">
                <div class="sale">
                    <div class="circle">

                    </div>
                    <div class="person">
                        <p>Bryan Mayodi</p>
                        <p class="email">bryanmayodi@gmail.com</p>
                    </div>
                    <div class="price">
                        <h4>+Kes 40,000</h4>
                    </div>
                </div>
                <div class="sale">
                    <div class="circle">

                    </div>
                    <div class="person">
                        <p>Bryan Mayodi</p>
                        <p class="email">bryanmayodi@gmail.com</p>
                    </div>
                    <div class="price">
                        <h4>+Kes 40,000</h4>
                    </div>
                </div>
                <div class="sale">
                    <div class="circle">

                    </div>
                    <div class="person">
                        <p>Bryan Mayodi</p>
                        <p class="email">bryanmayodi@gmail.com</p>
                    </div>
                    <div class="price">
                        <h4>+Kes 40,000</h4>
                    </div>
                </div>
                <div class="sale">
                    <div class="circle">

                    </div>
                    <div class="person">
                        <p>Bryan Mayodi</p>
                        <p class="email">bryanmayodi@gmail.com</p>
                    </div>
                    <div class="price">
                        <h4>+Kes 40,000</h4>
                    </div>
                </div>
                <div class="sale">
                    <div class="circle">

                    </div>
                    <div class="person">
                        <p>Bryan Mayodi</p>
                        <p class="email">bryanmayodi@gmail.com</p>
                    </div>
                    <div class="price">
                        <h4>+Kes 40,000</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}