{% extends 'main.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'scripts/login.js' %}" defer></script>
{% endblock %}

{% block body %}
    <h1 class="ltext heading">Welcome to the Login Page</h1>

    <p class="error-message"></p>

    <p class="ltext welcome">Welcome back</p>

    <form action="" method="POST" class="form">
        {% csrf_token %}

        <label for="mail">Email:</label>
        <input type="email" name="email" id="mail">
        <label for="pass">Password:</label>
        <input type="password" name="password" id="pass">
        <input type="submit" class="submit">
    </form>

    <p class="ltext login">Dont have an account? Sign up <a href="{% url 'signup' %}">here</a></p>
{% endblock %}