{% extends 'main.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/register.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'scripts/register.js' %}" defer></script>
{% endblock %}

{% block body %}
    <h1 class="rtext heading">Welcome to the Register Page</h1>

    <p class="error-message">
    </p>

    <p class="rtext stext">Signup to Qerp</p>

    <form action="" method="POST" class="form">
        {% csrf_token %}

        <label for="username">Name:</label>
        <input type="text" name="name" id="username">
        <label for="mail">Email:</label>
        <input type="email" name="email" id="mail">
        <label for="pass">Password:</label>
        <input type="password" name="password" id="pass">
        <input type="submit" class="submit">
    </form>

    <p class="rtext login">Already have an account? Login <a href="{% url 'login' %}">here</a></p>
{% endblock %}